#app{
    font-family: sans-serif;
}
.main {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-size: 20px;
}

label input[type=checkbox] {
    visibility: hidden;
}

.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(136, 164, 124);
}

.main:hover input ~ .geekmark {
    background-color: rgb(2, 50, 51);
}

.main input:checked ~ .geekmark {
    background-color: rgb(2, 50, 51);
}

.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

.main input:checked ~ .geekmark:after {
    display: block;
}

.main .geekmark:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-decoration-none:hover{
    color: rgb(136, 164, 124);
}

.text-defualt{
    color: rgb(136, 164, 124);
}

.text-petrol{
    color: rgb(2, 50, 51) !important
}

.bg-lightblack{
    background-color: rgb(14, 15, 15);
}

.bg-petrol{
    background-color: rgb(2, 59, 52) !important
}

.fs-md{
    font-size: medium;
}

.fs-lg{
    font-size: large;
}



/* @media only screen and (max-width: 1199px) and (min-width: 992px){
} */
